<h2>Search</h2>
<div class="row">
  <div class="form-group col-md-6">
    <input type="text" class="form-control" [(ngModel)]="search" name="" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
  <div class="form-group col-md-12 ">
    <button (click)="doSearch()" class="btn btn-primary">Search</button>
  </div>
</div>
<div *ngIf="loading;else streamersBlock">
  <h2 style="text-align: center">Đang tải dữ liệu</h2>
  <div class="spinner" colspan="6">
    <div class="spinner__bar"></div>
    <div class="spinner__bar"></div>
    <div class="spinner__bar"></div>
    <div class="spinner__bar"></div>
  </div>
</div>
<ng-template #streamersBlock>
  <table class="table table-bordered table-inverse table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th>STT</th>
        <th>Username</th>
        <th>Email</th>
        <th>Created_at</th>
        <th>Updated_at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let streamer of streamers;index as i">
        <th scope="row">{{streamer.id}}</th>
        <td>{{streamer.username}}</td>
        <td>{{streamer.email}}</td>
        <td>{{streamer.created_at}}</td>
        <td>{{streamer.updated_at}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="">
            <button type="button" [routerLink]="['/streamers',streamer.id]" class="btn btn-primary">View</button>
            <button type="button" class="btn btn-success">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  

      <ul class="pagination" *ngIf="last_page>1" >
        <li class="page-item"><a class="page-link"  (click)="prePage()" style="cursor:pointer">Previous</a></li>
        <li *ngFor="let item of pages;index as i" [class]="current_page==i+1?'page-item active':'page-item'" class="" ><a class="page-link " style="cursor:pointer" (click)="changePage(i+1)">{{i+1}}</a></li>
      
        <li class="page-item"><a class="page-link" (click)="nextPage()" style="cursor:pointer">Next</a></li>
      </ul>

</ng-template>
